<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon">
    <title>Discover Restaurants</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/css/info.css'/>

</head>
<body id="page-top">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Discover Restaurants!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#restaurantDetails">Restaurant Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/info/back">Back</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="bg-success text-white" id="restaurantDetails">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="container text-center">
                    <h5><%= restaurant.name %></h5>
                    <input class="form-control" type="hidden" id="hiddenRestaurantID" name="hiddenRestaurantID" placeholder="Restaurant ID" value="<%= restaurant.id %>" readonly/>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <input type="button" name="type" id="offRestaurantDirection" class="controls" value="Remove Direction">

                <div id="mode-selector" class="controls">
                    <input type="radio" name="type" id="changemode-walking">
                    <label for="changemode-walking">Walking</label>

                    <input type="radio" name="type" id="changemode-transit">
                    <label for="changemode-transit">Transit</label>

                    <input type="radio" name="type" id="changemode-driving">
                    <label for="changemode-driving">Driving</label>
                </div>

                <div id="map"></div>
            </div>
            <div class="col-lg-6 mx-auto">
                <!-- Restaurant Details -->
                <div class="row">
                    <% if(restaurant){ %>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card bg-success">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <a href="#">
                                                <img src="<%= restaurant.thumbnail %>" style="border-radius: 5px"
                                                     alt="No Restaurant Image" onerror="this.onerror=null;this.src='http://placehold.it/200x100?text=No Image';">
                                            </a>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                            <div class="container">
                                                <div class="row">
                                                    <a href="<%= restaurant.url %>"><h4 class="card-title text-danger">
                                                            <b><%= restaurant.name %></b></h4></a>
                                                </div>
                                                <div class="row">
                                                    <h6 class="card-text"><b><%= restaurant.locationLocality %></b></h6>
                                                </div>
                                                <div class="row">
                                                    <p class="card-text text-muted"><%= restaurant.locationAddress %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <p class="card-text text-muted">CUISINES:</p>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                            <p class="card-text"><%= restaurant.cuisine %></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <p class="card-text text-muted">COST FOR TWO:</p>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                            <p class="card-text"><%= restaurant.currency %> <%= restaurant.cost %>
                                                (local currency)</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <p class="card-text text-muted">RATING:</p>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                            <p class="card-text"
                                               style="color: #<%= restaurant.userRatingColor %>"><%= restaurant.userRatingAggregate %>
                                                /5, <%= restaurant.userRatingText %>
                                                <small class="text-muted">[Based
                                                    on <%= restaurant.userRatingVotes %> votes]
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <p class="card-text text-muted">DELIVERY:</p>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                            <p class="card-text"><%= restaurant.delivery %></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <p class="card-text text-muted">BOOKING:</p>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                            <p class="card-text"><%= restaurant.booking %></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <p class="card-text text-muted">PHOTOS:</p>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                            <a href="<%= restaurant.photoUrl %>"><p class="card-text">Photos</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <p class="card-text text-muted">MENU:</p>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                            <a href="<%= restaurant.menuUrl %>"><p class="card-text">Menu</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <p class="card-text text-muted">EVENTS:</p>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                            <a href="<%= restaurant.eventsUrl %>"><p class="card-text">
                                                    Events</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <% } %>
                </div>
                <!-- Weather Details -->
                <div class="row text-dark">
                    <% if(weather){ %>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card bg-primary">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="container">
                                            <p class="card-text">Current Weather: <%= weather.name %>
                                                <small class="text-muted">[<%= weather.description %>]</small>
                                                <img src="<%= weather.icon %>" id="currentWeatherIcon"
                                                     alt="Weather Image">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-7 col-md-7 col-sm-7">
                                            <div class="container">
                                                <div class="row">
                                                    <p class="card-text">Temperature: <%= weather.temperature %> °C
                                                        <small class="text-muted">
                                                            Min: <%= weather.temperatureMin %>
                                                        </small>
                                                        <small class="text-muted">
                                                            Max: <%= weather.temperatureMax %>
                                                        </small>
                                                    </p>
                                                </div>
                                                <div class="row">
                                                    <p class="card-text">Pressure: <%= weather.pressure %> hpa</p>
                                                </div>
                                                <div class="row">
                                                    <p class="card-text">Humidity: <%= weather.humidity %> %</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5">
                                            <div class="container">
                                                <div class="row">
                                                    <p class="card-text">Wind Speed: <%= weather.windSpeed %> m/s</p>
                                                </div>
                                                <div class="row">
                                                    <p class="card-text">Wind Degree: <%= weather.windDegree %> °</p>
                                                </div>
                                                <div class="row">
                                                    <p class="card-text">Location: <%= weather.location %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; YeeChen Fong 2017</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap Core JavaScript, JQuery, Popper -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/jquery-ui/jquery-ui.min.js"></script>

<!-- Custom JavaScript for this theme -->
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTEZLqkXT72SUUCj0GJkpLPG_IwxP2lbM&libraries=places">
</script>
<script src="/js/info.js"></script>

</body>
</html>
